{% extends "base.html" %}
{% block content %}
<p>Please confirm player stats on the <a href="{{ this_school.roster_website }}" target="_blank"><b>2018 {{ this_school.name }} Roster</b></a> before editing.</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>School</th>
                <th>Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>Position</th>
                <th>Height</th>
                <th>Weight</th>
                <th>City</th>
                <th>Home State</th>
                <th>High School</th>
                <th>High School Type</th>
            </tr>
        </thead>
        
        <tr>
            <td>{{ this_school.name }}</td> 
            <td>{{ form.number.errors }}{{ form.number }}</td> 
            <td>{{ form.name.errors }}{{ form.name }}</td> 
            <td>{{ form.year.errors }}{{ form.year }}</td> 
            <td>{{ form.position.errors }}{{ form.position }}</td> 
            <td>{{ form.height.errors }}{{ form.height }} in.</td> 
            <td>{{ form.weight.errors }}{{ form.weight }} lbs.</td> 
            <td>{{ form.city.errors }}{{ form.city }}</td>
            <td>{{ form.state.errors }}{{ form.state }}</td>
            <td>{{ form.high_school.errors }}{{ form.high_school }}</td>
            <td>{{ form.hs_type.errors }}{{ form.hs_type }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}