{% extends "base.html" %}
{% block title %}{% endblock %}
{% load static %} 
{% block content %}
    <a href="{{ this_school.roster_website }}" target="_blank"><h1>{{ this_school.name }}</h1></a> 
    {% if perms.rosters.can_edit_player %}
        <a href="{% url 'add-player' this_school.slug %}" class="m-1 btn btn-outline-success btn-sm">Add Player</a>
    {% endif %}
    {% if player_list %}
    <table id="myTable" class="tablesorter table table-striped table-bordered">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>Home State</th>
                <th>Position</th>
                <th>Height</th>
                <th>Weight</th>
                {% if perms.rosters.can_edit_player %}
                    <th>Edit Player</th>
                {% elif request.user.is_authenticated %}
                    <th>Flag Player</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for player in player_list %}
        <tr>
            <td>{{ player.number }}</td> 
            <td>{{ player.name }}</td> 
            <td>{{ player.get_year_display }}</td> 
            <td>{{ player.state }}</td> 
            <td>{{ player.get_position_display }}</td> 
            <td>{{ player.height }} in.</td> 
            <td>{{ player.weight }} lbs.</td> 
            {% if perms.rosters.can_edit_player %}
                <td><a href="{% url 'edit-player' player.id %}" class="m-1 btn btn-outline-danger btn-sm">Edit</a>
                    <a href="{% url 'delete-player' player.id %}" class="m-1 btn btn-outline-danger btn-sm">Delete</a></td> 
            {% elif request.user.is_authenticated %}
                <td><a href="{% url 'flag-player' player.id %}" class="m-1 btn btn-outline-danger btn-sm">Flag</a></td> 
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>There are no players in the model.</p>
    {% endif %}

{% endblock %}
