{% extends "account/base.html" %}
{% load static from staticfiles %}  
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 mx-auto text-center">
      <h1 class='bold'>{% trans "Sign In" %}</h1>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with Google. Or, <strong><a href="{{ signup_url }}">sign up</a></strong>
        for an account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">
          <div class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </div>
          <div class="login-or text-center mt-2"><strong>{% trans 'Or' %}</strong></div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <div class="bg-faded mt-3 pt-3">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-group mx-r">
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn primaryAction btn-primary btn-lg" type="submit">{% trans "Sign In" %}</button>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>


{% endblock %}
