{% extends "base.html" %}

{% block title %} <title> Natty Lax </title> {% endblock %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Natty Lax Home</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>Welcome to <em>Natty Lax</em>, a very basic Django website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>


  <p>{% if num_visits == 0 %} This is your first time visiting this site! {% else %} You have visited this site {{ num_visits }} {% if num_visits == 1 %} time{% else %} times{% endif %}.{% endif %}</p>
{% endblock %}